In [2]:
#モジュールをimportする
import os
import openpyxl as xl
import pandas as pd
from openpyxl.styles import Alignment, PatternFill, Font, Border, Side
import datetime

In [5]:
#os.chdirは任意。
File_name = "顧客デモ"
csv_name = File_name + ".csv"
os.chdir("C:\\SuperBox\\work\\data\\tanaka\\")
File_encoding = "cp932"

In [6]:
#StructInfo.txtを読込む
df_1 = pd.read_csv(File_name + "\\StructInfo.txt", encoding = File_encoding,skiprows=4)
df_1.head()

     //CUTTOP
0  I\t1\t顧客番号
1     A\t1\t姓
2   A\t1\tカナ姓
3     A\t1\t名
4   A\t1\tカナ名

In [7]:
#6行目以降の行数を数える
#全ての行数を数えて-5をすると、6行目以降の行数が数えられる
koumoku = len(df_1)
print(koumoku)

20

In [8]:
#レコード件数
#元のCSVを読込んで行数を数える
df_2 = pd.read_csv(csv_name, encoding = File_encoding)
record = len(df_2)
print(record)

2200000

In [9]:
#文字コード
#StructInfoの3行目の文字コードを抜く
with open(File_name + "\\StructInfo.txt" ,"r",encoding = File_encoding) as f:
    data = f.readlines()[2]
code=data[2:]
print(code)

#文字列置換（2文字目以降を読込むと、”//”を除いた文字コードのみを抽出できる）
#str[2:]

MS932

In [10]:
#オブジェクトにする
N=0
area3 = {}
with open(File_name + "\\StructInfo.txt","r",encoding = File_encoding) as f:
    for line in f:
        if N > 5:
            temp = line.split()
            if temp[0] == 'A':
                area3[temp[2]]="object"        
        N = N+1
print(area3)

df_area = pd.read_csv("テーブル_" + csv_name, encoding = File_encoding ,dtype=area3)
print(df_area)

{'姓': 'object', 'カナ姓': 'object', '名': 'object', 'カナ名': 'object', '性別': 'object', '電話番号': 'object', '携帯電話番号': 'object', 'Mailアドレス': 'object', '住所': 'object', '最終DM名称': 'object', 'DM戻り': 'object', 'DM拒否': 'object', 'メルマガ拒否': 'object', '削除フラグ': 'object'}
      項目名称   No       顧客番号  顧客番号件数     姓  姓件数       カナ姓  カナ姓件数       名   名件数  \
0   値（５０件）  1.0        1.0     NaN    田中  NaN       タナカ    NaN      翔平   NaN
1   値（５０件）  2.0        3.0     NaN    伊藤  NaN       イトウ    NaN     あい花   NaN
2   値（５０件）  3.0        5.0     NaN    山本  NaN      ヤマモト    NaN       翼   NaN
3   値（５０件）  4.0        6.0     NaN    小林  NaN      コバヤシ    NaN      大介   NaN
4   値（５０件）  5.0        7.0     NaN    山田  NaN       ヤマダ    NaN      裕介   NaN
..     ...  ...        ...     ...   ...  ...       ...    ...     ...   ...
76    最大桁数  1.0  2539744.0     7.0  八木ケ谷  8.0  ヨンジュウキュウ   16.0  ユウイチロウ  12.0
77    最大桁数  2.0  2539743.0     7.0  八月朔日  8.0   ワカヤナギキチ   14.0  シンイチロウ  12.0
78    最大桁数  3.0  2539742.0     7.0  波々伯部  8.0   ヨンジュウマン   14.0  コウイチロウ  12.0
79    最大桁数  4.0  2539741.0     7.0  日根野谷  8.0   メグムサイワイ   14.0  りょうたろう  12.0
80    最大桁数  5.0  2539739.0     7.0  日ケ久保  8.0   ホンジョウダニ   14.0  りゅうのすけ  12.0

    ... DM拒否  DM拒否件数 メルマガ拒否  メルマガ拒否件数  削除フラグ  削除フラグ件数               最終更新日時  \
0   ...    N     NaN      N       NaN      N      NaN  2018/03/29 07:10:01
1   ...    N     NaN      N       NaN      N      NaN  2012/11/12 07:11:38
2   ...    N     NaN      N       NaN      N      NaN  2019/01/11 07:05:58
3   ...    N     NaN      N       NaN      N      NaN  2018/09/21 07:13:20
4   ...    N     NaN      N       NaN      N      NaN  2016/03/01 16:00:39
..  ...  ...     ...    ...       ...    ...      ...                  ...
76  ...    Y     1.0      Y       1.0      N      1.0  2019/01/30 18:34:07
77  ...    N     1.0      N       1.0    NaN      NaN  2019/01/30 18:33:59
78  ...  NaN     NaN    NaN       NaN    NaN      NaN  2019/01/30 18:33:51
79  ...  NaN     NaN    NaN       NaN    NaN      NaN  2019/01/30 18:32:59
80  ...  NaN     NaN    NaN       NaN    NaN      NaN  2019/01/30 18:28:59

    最終更新日時件数                 作成日時  作成日時件数
0        NaN  2010/03/29 07:10:01     NaN
1        NaN  2007/11/14 07:11:38     NaN
2        NaN  2010/03/08 07:05:58     NaN
3        NaN  2010/01/31 07:13:20     NaN
4        NaN  2011/03/03 16:00:39     NaN
..       ...                  ...     ...
76      19.0  2013/01/29 07:18:44    19.0
77      19.0  2013/01/29 07:17:18    19.0
78      19.0  2013/01/29 07:16:03    19.0
79      19.0  2013/01/29 07:15:35    19.0
80      19.0  2013/01/29 07:13:57    19.0

[81 rows x 42 columns]

In [11]:
df_area.to_excel("test.xlsx",encoding = File_encoding,index = False)

In [12]:
#一文字目のみ抜きだす
tyu=df_1['//CUTTOP'].str[0]
print(tyu)

0     I
1     A
2     A
3     A
4     A
5     A
6     I
7     A
8     A
9     A
10    I
11    A
12    A
13    I
14    A
15    A
16    A
17    A
18    E
19    E
Name: //CUTTOP, dtype: object

In [13]:
#structinfoから一文字目のみを抜き出した
tyu.to_csv("struct_tyusyutu.txt",encoding = File_encoding,index = False,header = False,sep ='\t')

In [14]:
#テキストのリスト化
f = open('struct_tyusyutu.txt')
area = f.read().split()
print(area)

['I', 'A', 'A', 'A', 'A', 'A', 'I', 'A', 'A', 'A', 'I', 'A', 'A', 'I', 'A', 'A', 'A', 'A', 'E', 'E']

In [15]:
#structinfoから一文字目のみを抜き出した
tyu.to_csv("struct_tyusyutu.txt",encoding = File_encoding,index = False,header = False,sep ='\t')

In [16]:
#テキストのリスト化
f = open('struct_tyusyutu.txt')
area = f.read().split()
print(area)

['I', 'A', 'A', 'A', 'A', 'A', 'I', 'A', 'A', 'A', 'I', 'A', 'A', 'I', 'A', 'A', 'A', 'A', 'E', 'E']

In [17]:
#リスト部分のみ抽出用
df_area.head()

,項目名称,No,顧客番号,顧客番号件数,姓,姓件数,カナ姓,カナ姓件数,名,名件数,...,DM拒否,DM拒否件数,メルマガ拒否,メルマガ拒否件数,削除フラグ,削除フラグ件数,最終更新日時,最終更新日時件数,作成日時,作成日時件数
0,値（５０件）,1.0,1.0,NaN,田中,NaN,タナカ,NaN,翔平,NaN,...,N,NaN,N,NaN,N,NaN,2018/03/29 07:10:01,NaN,2010/03/29 07:10:01,NaN
1,値（５０件）,2.0,3.0,NaN,伊藤,NaN,イトウ,NaN,あい花,NaN,...,N,NaN,N,NaN,N,NaN,2012/11/12 07:11:38,NaN,2007/11/14 07:11:38,NaN
2,値（５０件）,3.0,5.0,NaN,山本,NaN,ヤマモト,NaN,翼,NaN,...,N,NaN,N,NaN,N,NaN,2019/01/11 07:05:58,NaN,2010/03/08 07:05:58,NaN
3,値（５０件）,4.0,6.0,NaN,小林,NaN,コバヤシ,NaN,大介,NaN,...,N,NaN,N,NaN,N,NaN,2018/09/21 07:13:20,NaN,2010/01/31 07:13:20,NaN
4,値（５０件）,5.0,7.0,NaN,山田,NaN,ヤマダ,NaN,裕介,NaN,...,N,NaN,N,NaN,N,NaN,2016/03/01 16:00:39,NaN,2011/03/03 16:00:39,NaN

In [18]:
#セル結合はなしで、罫線を引く＋重複した値を消す方針で書く
#まずは、"値"と名の付くセルの数を抽出する
atai=(df_area["項目名称"].str.contains("値（").sum())

print(atai)
sy_i=(df_area["項目名称"].str.contains("最小値").sum())

print(sy_i)

sa_i=(df_area["項目名称"].str.contains("最大値").sum())

print(sa_i)

sy_u=(df_area["項目名称"].str.contains("最小件数").sum())

print(sy_u)

sa_u=(df_area["項目名称"].str.contains("最大件数").sum())

print(sa_u)

sy_a=(df_area["項目名称"].str.contains("最小桁数").sum())

print(sy_a)

sa_a=(df_area["項目名称"].str.contains("最大桁数").sum())

print(sa_a)

50
5
5
5
5
5
5

In [19]:
#excel形式に変換
df_area.to_excel("test_original.xlsx",encoding = File_encoding,index = False)

In [20]:
#Excelを開く
wb1=xl.load_workbook("test_original.xlsx")
sh = wb1['Sheet1']

In [21]:
#太字を修正する
#for row in sh.iter_rows(2,2,min_col=sh.min_column,max_col=sh.max_column):
#    for cell in row:
#        cell.font = Font(bold=False)

In [22]:
#タイトル行を追加
sh.insert_rows(1)
sh.insert_rows(1)
sh.insert_rows(1)
sh.insert_rows(1)
sh.insert_rows(1)

In [23]:
#タイトルの名前
sh['A1']="テーブル内容確認リスト"

In [24]:
#df_city = pd.DataFrame([['項目数', koumoku], ['テーブル名称', File_name], ['レコード件数', record],['文字コード', code]])
sh['A2']="項目数"
sh['B2']=koumoku

sh['A3']="テーブル名称"
sh['B3']=File_name

sh['A4']="レコード件数"
sh['B4']=record

sh['A5']="文字コード"
sh['B5']=code

In [25]:
#出来てるかのテスト
wb1.save('data_test.xlsx')

In [26]:
#結合部分のみ左寄せ
#for rows in sh["A1":"B1"]:
#    for cell in rows:
#        cell.alignment = Alignment(horizontal="left",vertical='center')

In [27]:
#test
wb1.save('data_test.xlsx')

In [28]:
#1列目に色を付ける（タイトル以外）
for rows in sh["A2":"A5"]:
    for cell in rows:
        #セル背景色
        cell.fill = PatternFill(patternType="solid", fgColor='d3d3d3')

In [29]:
#罫線を引く
side = Side(style="thin", color="000000")
border = Border(left=side, right=side, top=side, bottom=side)
for row in sh["A2":"B5"]:
    for cell in row:
        cell.border = border

In [30]:
#ここまでの経過を保存する、その1
wb1.save('newlist_1.xlsx')

In [31]:
#追加行を作成する
sh.insert_rows(6)
sh.insert_rows(6)
sh.insert_rows(9)
sh.insert_rows(9)

In [32]:
#test（行挿入確認）
wb1.save('newlist_2.xlsx')

In [33]:
#最大行と最大列を取得
max_row = sh.max_row
max_col = sh.max_column
min_row = sh.min_row+6
min_col = sh.min_column
print(max_row)
print(max_col)
print(min_row)
print(min_col)

91
42
7
1

In [34]:
#値や最大値等の個数を抜き出したので、利用して重複した文字のセルの値を空にする。
for row in sh.iter_rows(min_row+5,min_row+atai+3,min_col,min_col):
    for cell in row:
        cell.value = None

In [35]:
wb1.save('newlist_3.xlsx')

In [36]:
for row in sh.iter_rows(min_row+atai+6,min_row+atai+sy_i+4,min_col,min_col):
    for cell in row:
        cell.value = None

In [37]:
for row in sh.iter_rows(min_row+atai+sy_i+6,min_row+atai+sy_i+sa_i+4,min_col,min_col):
    for cell in row:
        cell.value = None

In [38]:
for row in sh.iter_rows(min_row+atai+sy_i+sa_i+6,min_row+atai+sy_i+sa_i+sy_u+4,min_col,min_col):
    for cell in row:
        cell.value = None

In [39]:
for row in sh.iter_rows(min_row+atai+sy_i+sa_i+sy_u+6,min_row+atai+sy_i+sa_i+sy_u+sa_u+4,min_col,min_col):
    for cell in row:
        cell.value = None

In [40]:
for row in sh.iter_rows(min_row+atai+sy_i+sa_i+sy_u+sa_u+6,min_row+atai+sy_i+sa_i+sy_u+sa_u+sy_a+4,min_col,min_col):
    for cell in row:
        cell.value = None

In [41]:
for row in sh.iter_rows(min_row+atai+sy_i+sa_i+sy_u+sa_u+sy_a+6,min_row+atai+sy_i+sa_i+sy_u+sa_u+sy_a+sa_a+4,min_col,min_col):
    for cell in row:
        cell.value = None

In [42]:
wb1.save('List_test2_new.xlsx')

In [43]:
#罫線を引くリスト部分B列5行目から最後の列・行まで
#すべてのセルに対してleft,right,top,bottomの条件で線を引く→今のところはこの方法を採用している。

side = Side(style="thin", color="000000")
border = Border(left=side, right=side, top=side, bottom=side)
border2 = Border(left=side, right=side, top=side)
border3 = Border(left=side, right=side)
for row in sh.iter_rows(min_row+3,max_row,min_col+1,max_col):
    for cell in row:
        cell.border = border

In [44]:
wb1.save('List_test3_new.xlsx')

In [45]:
#リスト部分A列5行目からA列の最後まで
#問題が発生した場合 (left,right,top,bottom)、(left,top,bottom)、(right,top,bottom)、(top,bottom)の4パターンに分ける。
for row in sh.iter_rows(min_row+4,max_row,min_col,min_col):
    for cell in row:
        if sh[cell.coordinate].value:
            sh[cell.coordinate].border = border2
        else:
            cell.border = border3

In [46]:
wb1.save('List_test4_new.xlsx')

In [47]:
#備考欄を作成する
#最大桁数の下の行に挿入
border4 = Border(left=side,right=side,bottom=side)
border5 = Border(left=side,top=side)
border6 = Border(right=side,top=side)
border7 = Border(left=side,bottom=side)
border8 = Border(right=side,bottom=side)

for row in sh.iter_rows(max_row+1,max_row+1,min_col,max_col):
    for cell in row:
        cell.value = " "

sh.cell(max_row+1,min_col).value="備考"

for row in sh.iter_rows(max_row+1,max_row+2,min_col,min_col):
    for cell in row:
        if sh[cell.coordinate].value:
            sh[cell.coordinate].border = border5
        else:
            cell.border = border7
            
for row in sh.iter_rows(max_row+1,max_row+2,min_col+1,min_col+1):
    for cell in row:
        if sh[cell.coordinate].value:
            sh[cell.coordinate].border = border6
        else:
            cell.border = border8

for row in sh.iter_rows(max_row+1,max_row+2,min_col+2,max_col):
    for cell in row:
        if sh[cell.coordinate].value:
            sh[cell.coordinate].border = border2
        else:
            cell.border = border4

In [48]:
wb1.save('List_test5_new.xlsx')

In [49]:
#連番を奇数行に振る列を作成する。
sh.cell(min_row,min_col).value="No"
n=0
m=1
for row in sh.iter_rows(min_row,min_row,min_col+2,max_col):
    for cell in row:
        if n % 2 == 0:
            cell.value = "{0}".format(m)
            m=m+1
        else:
            cell.value = ""  
        n=n+1

In [50]:
wb1.save('List_test6_new.xlsx')

In [51]:
#項目名称行に関しては、「件数」と名の付く行or偶数行の値をNoneにしたい
n = 1
for row in sh.iter_rows(min_row+1,min_row+1,min_col,max_col):
    for cell in row:
        if n % 2 == 0:
            cell.value = None   
        n = n+1

In [52]:
wb1.save('List_test7_new.xlsx')

In [53]:
sh.cell(min_row+2,min_col).value="型式"
#型式行を作成する。
#どのようなデータ型式なのかをStructInfo.txtの「タイプ」から判別して、セルを埋める
#A:「文字列」I:「整数」F:「浮動小数」E:「日付時刻」T:「時刻」D:「日付」のように当てはめて入れる。
n = 0
m = 0
for row in sh.iter_rows(min_row+2,min_row+2,min_col+2,max_col):
    for cell in row:
        if n % 2 == 0:
            cell.value = area[m]
            m = m+1
        else:
            cell.value = ""
        n = n+1

    for cell in row:
        if cell.value == "A":
            cell.value = "文字列"
            
        elif cell.value == "I":
            cell.value = "整数"
            
        elif cell.value == "F":
            cell.value = "浮動小数"
            
        elif cell.value == "E":
            cell.value = "日付時刻"
            
        elif cell.value == "T":
            cell.value = "時刻"
            
        elif cell.value == "D":
            cell.value = "日付"

In [54]:
#行の名前なしで、偶数行に「値」奇数行に「件数」を入れる。
sh.cell(min_row+3,min_col).value="　"
n = 0
for row in sh.iter_rows(min_row+3,min_row+3,min_col+2,max_col):
    for cell in row:
        if n % 2 == 0:
            cell.value = "値"
        else:
            cell.value = "件数"      
        n = n+1

In [55]:
wb1.save('List_test8_new.xlsx')

In [56]:
#奇数セルは（left,top,bottom)、偶数セルは（right,top,bottom)に罫線を引く
border9 = Border(left=side,top=side,bottom=side)
border10 = Border(right=side,top=side,bottom=side)
n=-1
for row in sh.iter_rows(min_row,min_row+2,min_col,max_col):
    for cell in row:
        if n % 2 == 0:
            cell.border = border10
        else:
            cell.border = border9      
        n = n+1
        
sh["A10"].border=border9
sh["B10"].border=border10

In [57]:
wb1.save('List_test9_new.xlsx')

In [58]:
#A、B列に色を塗る
#値、最小値、最大値、最大件数、最小件数、最大桁数、最小桁数の上位件数、表示レコード件数に従って色を塗る
for rows in sh.iter_rows(min_row,max_row+2,1,2):
    for cell in rows:
        #セル背景色
        cell.fill = PatternFill(patternType="solid", fgColor='d3d3d3')

In [59]:
wb1.save('List_test10_new.xlsx')

In [60]:
#見出しに色を付ける
#色に関してはグレーに設定する。
#1行目から4行目まで色を塗る
for rows in sh.iter_rows(min_row,min_row+3):
    for cell in rows:
        #セル背景色
        cell.fill = PatternFill(patternType="solid", fgColor='d3d3d3')

In [61]:
#リスト部分をxlsx型式で出力する
wb1.save('List_test11_new.xlsx')

In [62]:
#リスト部分、1行目から4行目までを左寄せに調節する。
for row in sh.iter_rows(min_row,min_row+1,min_col,max_col):
    for cell in row:
        cell.alignment = Alignment(horizontal="left",vertical='center')

In [63]:
#リスト部分の幅を自動調整
for col in sh.columns:
    max_length = 0
    column = col[0].column

    for cell in col:
        if len(str(cell.value)) > max_length:
            max_length = len(str(cell.value))

    adjusted_width = (max_length + 3) * 1.4
    sh.column_dimensions[col[0].column_letter].width = adjusted_width

In [64]:
#作成日
now = datetime.datetime.now()
sh.cell(row = min_row-6,column = max_col-1).value ="BIG DATA R&D本部"
sh.cell(row = min_row-5,column = max_col-1).value =("作成日："+"{0:%Y年%m月%d日}").format(now)
sh.cell(row = min_row-4,column = max_col-1).value =("更新日："+"{0:%Y年%m月%d日}").format(now)

In [65]:
#フォント追加
font = Font(name='游ゴシック')
for row in sh.iter_rows(min_row-6,max_row,min_col,max_col):
    for cell in row:
        sh[cell.coordinate].font = font

In [66]:
#タイトルの太字設定
sh['A1'].font = Font(bold=True,name='游ゴシック')

In [67]:
wb1.save('List_Ver1.xlsx')